extends layout

block content
    if ingredient._pizzas.length == 0
        The are no pizzas with #{ingredient.name}!
    else
        h1.mainHead #{ingredient.name} is present in these pizzas:

        .myContainer
            .div-auto.text-centered
                each pizza in ingredient._pizzas
                    .col-sm-3.col-centered
                        .thumbnail
                            img.img-responsive(src='images/pizze.jpg', style='width:100%', alt='Image')
                            .caption
                                h3.thumb #{pizza.name}
                                span.thumb BASE: #{pizza.base}
                                p.init #{pizza.description}
                               gitt