extends layout

block content
    if pizzaList.length == 0
        h1 There are no pizzas!
    else
        h1 Existing pizzas:
        ul
            each pizza in pizzaList
                li name: #{pizza.name}, description: #{pizza.description}, base: #{pizza.base}
                    div
                        each ingredient in pizza._ingredients
                            span #{ingredient.name} #{ingredient.description},