extends layout

block content
    h1 Thanks for your contribute!
    h2 You propose this pizza:
    ul
        li Name: #{pizza.name}
        li Description: #{pizza.description}
        li Base: #{pizza.base}
    br
    h3 Ingredient's list:
    ul
        each value in pizza._ingredients
            li name: #{value.name}, description: #{value.description}